# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files and databases
data/processed/
data/warehouse.db
data/warehouse/
data/raw/audio_features.csv
data/raw/spotify_india_charts.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
